<ion-header [translucent]="true">
  <ion-item (click)="settingPage()">
  <ion-toolbar>
    <ion-avatar id="userImg">
      <img src="{{userImg}}">
    </ion-avatar>
  </ion-toolbar>
</ion-item>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <input (change)="uploadFile(data);" accept=".pdf,.jpg,.jpeg,.png" type="file" #data style="display: none;">
    <ion-button (click)="onUpload(data)" size="large" color="secondary">Upload File</ion-button>
    <ion-list>
    <ion-item *ngFor="let item of docUpload ; index as i">
      <ion-label>
       {{i}} Name : {{ item.name }} Size : {{ item.size }} Type : {{ item.type }}
      </ion-label>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
